#main {
    min-height: 100vh;
    padding: 0;
    background-image: linear-gradient(#c2e59c,#64b3f4);
}

#bd {
    transform: rotate(270deg);
}
#bd_title {
    font-size: 10em;
}
#title {
    font-size: 6em;
}
#img{
    height:30vh;
    background-color: white;
}

#register {
    font-size: 5em;
}

#form {
    font-size: 4em;
}