{% extends 'base.html.twig' %}

{% block title %}Welcome Page{% endblock %}

{% block body %}
<div class="row col-12  m-0 p-2">
    <h1 class="m-0 p-0 col-6">BDplon</h1>
    {% if app.user %}
    <a class='col-2' href="">
        <h1>{{app.user.username}}</h1>
    </a>
    <a class='col-2' href="{{path('app_logout')}}">
        <h1>Logout</h1>
    </a>
    {% else %}
    <a class='col-3' href="{{path('app_login')}}">
        <h1>Log In</h1>
    </a>
    <h1 class="m-0 p-0 col-3">Abonne-toi</h1>
    {% endif %}
</div>

<div class="row col-12 mt-5 p-0 ml-0">
    <div class="col-3 p-0 h-25 m-auto" id="bd">
        <h1 id="bd_title" class="w-25 mb-0 h-50 ">BD</h1>
    </div>
    <div class="col-9 p-0">
        <h3 id="title" class="m-5 p-5">Super catalogue de BD</h3>
    </div>
</div>

<div id="img" class="row col-12 p-0 m-0 mb-5 h-100 mt-3">
    <div class="col-4 p-0 h-100">
        <div class="border w-70">
            <div class="row col-12 p-2 m-0">{{asterix.title}}</div>
            <img src="{{asterix.imgPath}}" alt="" class='w-100 h-100'>
            <div class="row col-12 p-2 m-0"> Auteur: {{asterix.author}} </div>
            <div class="row col-12 p-2 m-0">Date Parution : {{asterix.parution.format("d/m/Y")}}</div>
            <div class="row col-12 p-2 m-0">
                {{asterix.description}}
            </div>
            {% if app.user %}
            <button>Add to favorite</button>
            {% endif %}
        </div>
    </div>
    <div class="col-4 p-0 h-100">
        <div class="border w-70">
            <div class="row col-12 p-2 m-0">{{tintin.title}}</div>
            <img src="{{tintin.imgPath}}" alt="" class="border h-100 w-100">
            <div class="row col-12 p-2 m-0"> Auteur: {{tintin.author}} </div>
            <div class="row col-12 p-2 m-0">Date Parution : {{tintin.parution.format("d/m/Y")}}</div>
            <div class="row col-12 p-2 m-0">
                {{tintin.description}}
            </div>
            {% if app.user %}
            <button>Add to favorite</button>
            {% endif %}
        </div>
    </div>
    <div class="col-4 p-0">

    </div>
</div>
{% if app.user %}
{% else %}
<div class="row col-12 p-0 m-0">
    <div class="row col-12 d-flex justify-content-center p-0 ml-0">
        <h1 id="register" class="m-0">Register</h1>
    </div>
    <div id="form" class="row col-12 d-flex justify-content-center mt-5 p-0 ml-0 ">
        {{form_start(form)}}
        {{form_widget(form)}}
        <button class="btn btn-primary">Register</button>
        {{form_end(form)}}
    </div>
    {% endif %}
</div>
{% endblock %}